body {
    margin: 0;
    background: #2980B9;
    background: -webkit-linear-gradient(56% right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

h1 {
    text-align: center;
    color: #8877e3;
    font-size: 3.5rem;
}

.practicing {}

.practicing ol {
    margin: 0;
    font-size: 1.5em;
}

.practicing ol li {
    margin-bottom: 20px;
}

.practicing ol li a {
    text-decoration: none;
}